@import "tailwindcss";

@theme {
  --color-primary: #40725f;
  --color-text: #282e29;
  --color-backgound: #fafffa;
  --color-icon-bg: #d9e7d4;
  --color-sidebar-bg: #edf6ea;
  --color-navbar-icon: #e0ebe099;
  --color-settings-btn: #eef6eb;
  --color-category-icon: #e1ebe1;
  --color-subcategory-text: #7c827d;
  --color-breadcrumb-bg: #f0f7f0;
  --color-text-gray: #7d827e;
}

@layer components {
  .active {
    @apply bg-icon-bg;
  }

  .sidebar {
    @apply flex justify-center items-center h-[60px] w-full px-2 bg-sidebar-bg fixed bottom-0 lg:w-17 lg:h-full lg:flex-col lg:justify-between lg:py-2;
  }

  .sidebar-icon {
    @apply flex items-center justify-center w-10 h-10 rounded-lg;
  }

  /* navbar */
  .navbar {
    @apply sticky top-0 left-0 flex items-center justify-between w-full h-16 px-4 shadow-sm bg-backgound md:px-6 lg:left-16 lg:w-[calc(100%-64px)];
  }

  .navbar-icon {
    @apply w-9.5 h-9.5 flex justify-center items-center bg-navbar-icon cursor-pointer;
  }

  /* section */
  .aside-container {
    @apply w-full h-full px-4 py-6 text-sm bg-backgound;
  }

  /* settings */
  .settings {
    @apply px-8 2xl:h-[calc(100vh-64px)] md:w-80 2xl:w-83.75;
  }
  .settings-mobile {
    @apply fixed inset-y-0 right-0 z-20 w-full h-screen transition-transform duration-300 transform 2xl:hidden md:w-80;
  }

  /* category */

  .category {
    @apply lg:h-[calc(100vh-64px)] lg:w-77 2xl:w-83.75 space-y-2.5 rounded-2xl lg:rounded-none;
  }
  .category-mobile {
    @apply fixed inset-0 z-10 w-full h-screen transition-transform duration-300 transform lg:hidden md:w-77;
  }

  .category-scrollbar::-webkit-scrollbar {
    @apply w-1;
  }

  .category-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-4xl;
  }

  /* content */
  .page-header {
    @apply bg-breadcrumb-bg py-3.5 border-b border-gray-300;
  }

  .content-padding {
    @apply px-4 md:px-6 lg:px-8 2xl:px-25;
  }

  /* utils */
  .show-lg {
    @apply hidden lg:block;
  }

  .flex-btw-center {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center;
  }

  .slider::-webkit-slider-thumb {
    @apply w-4 h-4 rounded-full appearance-none bg-primary;
  }
  .slider::-moz-slider-thumb {
    @apply w-4 h-4 rounded-full bg-primary;
  }

  .page-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .page-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-4xl bg-primary;
  }
}

.progress-bar {
  width: var(--width);
}
