@import "tailwindcss";

@theme {
  --color-primary: #40725f;
  --color-text: #282e29;
  --color-backgound: #fafffa;
  --color-icon-bg: #d9e7d4;
  --color-sidebar-bg: #edf6ea;
  --color-navbar-icon: #e0ebe099;
  --color-settings-btn: #eef6eb;
}

@layer components {
  .active {
    @apply bg-icon-bg;
  }

  .sidebar {
    @apply flex justify-center items-center h-[60px] w-full px-2 bg-sidebar-bg fixed bottom-0 lg:w-17 lg:h-full lg:flex-col lg:justify-between lg:py-2;
  }

  .sidebar-icon {
    @apply flex items-center justify-center w-10 h-10 rounded-lg;
  }

  /* navbar */
  .navbar {
    @apply fixed top-0 left-0 flex items-center justify-between w-full h-16 px-4 shadow-sm bg-backgound md:px-6 lg:left-16 lg:w-[calc(100%-64px)];
  }

  .navbar-icon {
    @apply w-9.5 h-9.5 flex justify-center items-center bg-navbar-icon;
  }

  /* utils */
  .show-lg {
    @apply hidden lg:block;
  }

  .flex-btw-center {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center;
  }

  .slider::-webkit-slider-thumb {
    @apply w-4 h-4 rounded-full appearance-none bg-primary;
  }
  .slider::-moz-slider-thumb {
    @apply w-4 h-4 rounded-full bg-primary;
  }
}
